.canvas_abs{
    position: absolute;
}
.canvas_array{
    position: absolute;
    display: flex;
}
.grid_div{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.canvas_grid_array{
    display: flex;
}