.canvas_abs {
  position: absolute;
}
.canvas_array {
  position: absolute;
  display: flex;
}
.canvas input {
  position: absolute;
  width: 40px;
  right:0;
  height: 40px; 
  top:0;
  z-index:10000;
}
.canvas {
  position: relative;
 
}
