nav{
    background-color: #fff;
    color:#333;  
    padding:0 2rem;
}
nav div a{
    color:#333;
}
.hidden{
    display:none!important;
}
.logo{
    width:22%;

}
.section1{
    display: flex;
    flex-direction: row;
}
.textArea{
    width:50%;
    height:100vh;
    background:rgba(27, 35, 43, 0.651);
    color:#fff;
}
.whiteBoard{
    width:50%;
    height:100vh;
    background:#f5f5f5;
}
.hidden{
    display: none!important;
}

.loader12345{
    position: fixed;
  top: 0;
  left: 0;
  z-index:100000;
  background: black;
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.latka{
    animation: pulse 2s infinite;
    width:15%;
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  
.colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  