* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

/* utils */
.loader {
	position: fixed;
	z-index: 10000;
	min-width: 100vw;
	background: #333;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fade_in {
	opacity: 1;
	animation: fadeIn 0.2s forwards;
}

.fade_out {
	opacity: 1;
	animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.lds-grid {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-grid div {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
	top: 8px;
	left: 8px;
	animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
	top: 8px;
	left: 32px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
	top: 8px;
	left: 56px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
	top: 32px;
	left: 8px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
	top: 32px;
	left: 32px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
	top: 32px;
	left: 56px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
	top: 56px;
	left: 8px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
	top: 56px;
	left: 32px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
	top: 56px;
	left: 56px;
	animation-delay: -1.6s;
}

@keyframes lds-grid {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

nav {
	background-color: #fff;
	color: #333;
	padding: 0 2rem;
}

nav div a {
	color: #333;
}

.hidden {
	display: none !important;
}

.logo {
	width: 22%;
}

.hidden {
	display: none !important;
}

.colors {
	position: fixed;
}

.color {
	display: inline-block;
	height: 48px;
	width: 48px;
}

.color.black {
	background-color: black;
}

.color.red {
	background-color: red;
}

.color.green {
	background-color: green;
}

.color.blue {
	background-color: blue;
}

.color.yellow {
	background-color: yellow;
}

.navbar-title {
	color: #966b9d;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
}

.login-page1 {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	padding-right: 50px;
}

.sign-page1 {
	margin-right: 100px;
}

.sign-but {
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background-color: #6c6ad2;
	padding: 5px 30px 40px 30px;
}

.heading1-page1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	text-align: center;
	color: #337357;
	margin-top: 150px;
	font-weight: 700;
	letter-spacing: 1px;
}

.heading2-page1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	color: #966b9d;
	margin-top: 20px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.heading3-page1,
.heading4-page1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-align: center;
	color: black;
}

.heading5-page1 {
	text-align: center;
	margin-top: 30px;
}

.host-but {
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background-color: #6c6ad2;
	padding: 5px 30px 40px 30px;
}

.waves-page1 {
	display: flex;
	justify-content: space-between;
}

.container1-page1 {
	min-height: 100vh;
}

.container1-page2 {
	min-height: 100vh;
}

.botcont-page1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 155px;
}

.botcont1 {
	background-color: #966b9d;
	flex: 1;
	text-align: center;
}

.botcont2 {
	background-color: #eaf6ff;
	flex: 1;
	text-align: center;
}

.botcont3 {
	background-color: #337357;
	flex: 1;
	text-align: center;
}

.botcon1,
.botcon2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	color: white;
}

.boil_text {
	height: 93.52px;
	transition: 0.5s;
	overflow: hidden;
}

.big_div {
	transition: 0.5s;
}

/* scrollbars */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #337357;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #966b9d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6c3874;
}

.big_div {
	transition: 0.5s;
}

.logmod-but {
	border-radius: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	background-color: white;
	width: 100%;
}

.logmodal {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
}

.modal-log {
	width: 30%;
	height: 60%;
	background-color: white;
}

.modal-share {
	height: 40% !important;
}

.log-text {
	padding-bottom: 5px;
}

.modal-line {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-weight: bold;
}

h5 span {
	background: #fff;
	padding: 0 10px;
	font-size: 1rem;
}

.emailmod-but {
	border-radius: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	background-color: #eaeaea;
	width: 80%;
}

.emailmodal {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn {
	text-transform: none;
}

.modal .modal-footer {
	background-color: white;
	height: 30px;
}

.modal-heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

/*VIEW AFTER LOGGED IN*/
.login-page1 img {
	height: 50px;
	margin-top: 0.4em;
}

.heading1-page2 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.9rem;
	text-align: left;
	color: #000000;
	margin-top: 120px;
	font-weight: 700;
}


.icon1 {
	padding-left: 1em;
	padding-top: 0.4em;
}

.login-buttons {
	display: inline-flex;
	margin-top: 1.9em;
}

/* Style the input fields */
.input-field {
	height: 36px;
	width: auto;
	margin-bottom: 0;
	margin-top: 0.4em;
	margin-left: 1em;
	border-bottom: none;
	box-shadow: none;
}

.input-container {
	height: 50px;
	width: max-content;
	border: 2px solid darkgray;
	display: inline-flex;
}

.input-container:focus-within {
	border: 2px solid black;
}

.input-field::-webkit-input-placeholder {
	/* Edge */
	font-weight: 500;
}

.input-field:-ms-input-placeholder {
	/* Internet Explorer 10-11 */

	font-weight: 500;
}

.input-field::placeholder {
	font-weight: 500;
}

.host-but1 {
	height: 50px;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background-color: #6c6ad2;
	padding: 5px 10px;
}

.demo-img img {
	margin-top: 80px;
	width: 92%;
	border: 1px solid #d3d3d2;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
	.demo-img img {
		margin-top: 3em;
	}
}

.contactmsg {
	margin-top: 1em;
	text-align: left;
}

.contactmsg a {
	letter-spacing: 0.18em;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	line-height: 30px;
	color: #966B9D;

}




/* READY SCREEN */
.vid-img video {
	width: 90%;
	border: 1px solid #000000;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
}

.heading1-page3 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.2rem;
	text-align: left;
	color: #000000;
	font-weight: 600;
}

.host-but2 {
	width: 140px;
	height: 50px;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background-color: #966B9D;
	padding: .4em .6em;
	text-align: center;
}

.host-but3 {
	width: 140px;
	height: 50px;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background-color: #6C6AD2;
	padding: .4em .6em;
	text-align: center;
	margin-left: 0.8em;
}

.host-but4 {
	width: 140px;
	height: 50px;
	border-radius: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background-color: #337357;
	padding: .4em .6em;
	text-align: center;
}

.login-buttons1 {
	display: inline-flex;
	margin-top: 1em;
}

.host-but2:hover {
	background-color: #bf356e;
}

.host-but4:hover {
	background-color: #18ca78;
}

.browser-default {
	width: 180px;
	border: 2px solid #a59b9b;
	border-radius: 5px;
	margin-top: 1em;
}

.readypage {
	display: flex;
	align-items: center;
}

.displayPic {
	border-radius: 50%;
}

.notification {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10000000;
	padding: 2rem;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	animation: fadeOut 10s forwards;
}

/* MEET SCREEN */
.after_join {
	display: flex;
	flex-direction: row;
}

.section1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	min-width: 50%;
	max-width: 50%;
}

.whiteBoard {
	display: flex;
	height: 100vh;
	background-color: #f5f5f5;
}

.edit-features {
	width: 50%;
	position: absolute;
	min-height: 6vh;
	max-height: 6vh;
	background-color: #ffffff;
}
.edit-btn{
	left:-50px;
}
.clear-but {
	float: right;
}

.clear-all {
	background-color: #faf6e9;
	width: 70px;
	height: 45px;
	float: left;
	font-weight: 700;
	font-size: 1rem;
}

.color-erase {
	float: left;
}

.palIcoColorPicker {
	margin: 7px 0 0 15px;
	display: flex;
	border-radius: 4px;
	border: 0 transparent;
	width: 0px;
	height: 0px;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	cursor: pointer;
}

.palIcoColorPicker::-webkit-color-swatch {
	border-radius: 0px;
	border-style: none;
}

.palIcoColorPicker::-moz-color-swatch {
	border-radius: 0px;
	border-style: none;
}

.palIcoColorPicker::before {
	display: flex;
	border-radius: 4px;
	height: 30px;
	width: 30px;
	font-family: 'FontAwesome';
	font-size: 2rem;
	content: "\f1fc";
	font-color: red;
}

.rubber {
	display: flex;
	margin: 3px 0 0 60px;
}

.theme-select {
	float: left;
}

.theme-switcher {
	background-color: #faf6e9;
	width: 70px;
	height: 45px;
	font-weight: 700;
	font-size: 1rem;
}

.download-but {
	float: right;
}

.download-all {
	background-color: #faf6e9;
	width: 70px;
	height: 45px;
	font-weight: 700;
	font-size: 0.8rem;
	margin: 0 10px 0 0;
}

.video-grid {
	display: flex;
	flex-direction: column;
	min-width: 50%;
	max-width: 50%;
	min-height: 100vh;
	max-height: 100vh;
	background-color: #222831;
	color: #fff;
}

.textArea {
	min-width: 67.5%;
	max-width: 67.5%;
	overflow: auto;
	height: 78vh;
	background-color: #314855;
}

.video {
	background-color: #314855;
	min-width: 27.5%;
	max-width: 27.5%;
	height: 78vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.input-output {
	background-color: #1a1c20;
	min-width: 95%;
	max-width: 95%;
	height: 22vh;
	border: 2px;
	border-color: white;
	border-style: solid;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.video-grid-1,
.video-grid-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

textarea {
	height: 120px;
}

.input,
.output {
	margin-top: 15px;
	text-align: left;
}

.run-com {
	position: absolute;
	float: right;
	right: 0;
}

.run-but {
	border-radius: 15%;
	background-color: #faf6e9;
	width: 50px;
	height: 30px;
	font-weight: 700;
	font-size: 1rem;
	color: black;
}

video {
	height: 20%;
	width: 80%;
	background-color: white;
	margin-top: 20px;
}

.share-room {
	position: absolute;
	top: 0;
	right: 0;
}

.mute-end-cam {
	display: flex;
	height: 15vh;
	background-color: #8b9e93;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2), 0px 20px 20px 0px rgba(0, 0, 0, 0.19);
	border-width: 3px 3px 0 3px;
	border-style: solid;
	border-color: rgb(2, 43, 4);
}

.mic-cam {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: white;
	margin: auto 20px;
}

.mic-img,
.end-img,
.cam-img {
	height: 50px;
	width: 50px;
	padding: auto;
}
